/* Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*==========*/
body, h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  background-color: #eed;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

h4 {
  color: darkblue;
  cursor: pointer;
}

h4:hover {
  text-decoration: underline;
}

#rainbow {
  position: absolute;
  top: 100px;
  left: 200px;
}

h2 {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 1px 2px 5px 1px rgba(170,170,170,1);
}

h3 {
  position: absolute;
  top: 1px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px 1px rgba(170,170,170,1);
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
}

.orange {
  background-color: orange;
  width: 50px;
  height: 50px;
}

.yellow {
  background-color: yellow;
  width: 50px;
  height: 50px;
}

.green {
  background-color: green;
  width: 100px;
  height: 100px;
}

.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.indigo {
  background-color: mediumslateblue;
  width: 50px;
  height: 50px;
}

.violet {
  background-color: darkviolet;
  width: 100px;
  height: 100px;
}

.active {
  font-weight: 700;
}

a {
  display: block;
  margin-bottom: 10px;
  margin-left: 20px;
}
