/* PHASE 3: Content */

.content {
  background: #fff;
  margin: auto;
  width: 900px;
  border-left: 1px;
  border-bottom: 1px;
  border-right: 1px;
  border-color: #ccc;
  border-style: solid;
}

.content-sidebar {
  box-sizing: border-box;
  width: 240px;
  float: left;
  padding: 20px;
}

.content-main {
  box-sizing: border-box;
  width: 660px;
  float: left;
  padding: 20px;
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content p {

}
